// サイト共通で必要になる設定値を変数で定義しておく



//サイトで使用するカラー
$black: #000;
$white: #fff;
$lGray: #F3F3F3;
$dGray: #757575;
$yellow:#F1C407;
$blue:#1B7CD6;
$red:#F10707;

// フォントの種類
$lato: 'Lato',sans-serif;

// よく使うpx数をvwに変換
//pc(1280px)
$pc1: 0.0781vw;
$pc2: 0.156vw;
$pc8: 0.625vw;
$pc14: 1.094vw;
$pc16: 1.25vw;
$pc18: 1.406vw;
$pc24: 1.875vw;
$pc28: 2.188vw;
$pc32: 2.5vw;
$pc36: 2.813vw;
$pc48: 3.75vw;
$pc64: 5vw;
$pc100: 7.813vw;
$pc122: 9.512vw;

//tab(768px)
$tb1: 0.130vw;
$tb2: 0.260vw;
$tb3: 0.391vw;
$tb5: 0.651vw;
$tb9: 1.172vw;
$tb12: 1.563vw;
$tb14: 1.823vw;
$tb16: 2.083vw;
$tb18: 2.344vw;
$tb20: 2.604vw;
$tb24: 3.125vw;
$tb26: 3.385vw;
$tb28: 3.646vw;
$tb29: 3.776vw;
$tb30: 3.906vw;
$tb32: 4.167vw;
$tb34: 4.427vw;
$tb36: 4.688vw;
$tb40: 5.208vw;
$tb44: 5.729vw;
$tb48: 6.250vw;
$tb50: 6.51vw;
$tb54: 7.031vw;
$tb64: 8.333vw;
$tb80: 10.417vw;
$tb85: 11.068vw;
$tb92: 11.979vw;
$tb100: 13.021vw;
$tb104: 13.542vw;
$tb120: 15.625vw;
$tb160: 20.833vw;

//sp(360px)
$sp1: 0.278vw;
$sp2: 0.556vw;
$sp3: 0.833vw;
$sp5: 1.389vw;
$sp8: 2.222vw;
$sp10: 2.778vw;
$sp12: 3.333vw;
$sp14: 3.889vw;
$sp16: 4.444vw;
$sp18: 5.000vw;
$sp24: 6.667vw;
$sp28: 7.778vw;
$sp32: 8.889vw;
$sp36: 10.000vw;
$sp54: 15.000vw;
$sp64: 17.778vw;