@use "../../../setting"as *;
@use "../../../mixin"as *;

.work {
  position: relative;
  box-sizing: border-box;
  background-color: $white;
  border-bottom: $pc1 solid $dGray;
  padding-left: 5.781vw;
  padding-right: 7.109vw;

  &::before {
    content: "";
    position: absolute;
    top: 13.594vw;
    left: 0;
    width: 100%;
    height: $pc1;
    background-color: $dGray;
  }


  &_content {
    width: 100%;
    height: 118.875vw;
    position: relative;
    clear: both;
    z-index: 1;
    padding: $pc64 0;
    
    ._menu {
      box-sizing: border-box;
      display:block;
      width: 10.82vw;
      border: $pc1 solid $black;
      text-align: center;
      font-size: $pc16;
      font-weight: 700;
      line-height: 3.594vw;
      float:left;
      list-style:none;
      cursor: pointer;

      
      &._active,
      &._hover {
        background-color: $black;
        color: $white;
      }
    }

    .mr {
      margin-right: $pc32;
    }
  }

  .tabcontent {
    width: 100%;
    position: absolute;
    top: 13.594vw;
    left: 0;
  }

  &_article {
    display: grid;
    padding: $pc64 $pc32;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.219vw 3.906vw;
  }

  &_item {
    display: inline-block;
    padding-bottom: $pc14;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
    transition: .2s;

    a {
      display: block;
      width: 100%;
      height: 100%;
      padding-bottom: $pc14;
    }
    
    img {
      width: 34.267vw;
      height: 20.469vw;
      object-fit: cover;
    }

    ._container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 700;
      font-size: $pc14;
    }

    ._left {
      width: 19.844vw;
      line-height: 1.8em;
      margin-top: $pc14;
      margin-left: $pc14;
      font-size: $pc14;
      
      span {
        font-size: 0.938vw;
        // font-size: $pc14;
      }
    }

    ._right {
      width: 9.063vw;
      color: $dGray;
      border: $pc1 solid $dGray;
      text-align: center;
      line-height: $pc32;
      margin-right: $pc14;
    }
  }

  &_item:hover {
    opacity: .8 !important;
    box-shadow: none;
  }
}

// ページネーション
.pagination {
  width: 100%;
  position: absolute;
  margin-bottom: $pc100;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  

  a {
    transition: .2s;
    font-size: $pc16;
    text-align: center;
    line-height: 3.125vw;
    margin: 0 0.391vw;
    display: inline-block;
    background-color: $white;
    // height: 3.125vw;
    position: relative;
    border: $pc1 solid $black;
    color: $dGray;
    transition: .2s;
    padding: 0 1.115vw;
  }
  
  .disabled {
    opacity: 0;
  }
  
  a:hover{
    color: $white;
    background: $yellow;
  }
  
  .active {
    a {
      color: $white;
      background-color: $black;
    }
    
    a:hover {
      cursor: default !important;
      background: $black;
    }
  }
  
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

// レスポンシブ
// タブレットサイズ
@include mq(lg) {
  .work {
    padding-right: 5.781vw;

    &::before {
      content: "";
      position: absolute;
      top: $tb120;
      left: 0;
      width: 100%;
      height: $pc1;
      background-color: $dGray;
    }

    &_content {
      width: 100%;
      height: 146vw;
      position: relative;
      clear: both;
      z-index: 1;
      padding: $pc64 0;
    
      ._menu {
        box-sizing: border-box;
        display: block;
        width: 12.65vw;
        border: $tb1 solid $black;
        text-align: center;
        font-size: $tb14;
        font-weight: 700;
        line-height: 2.4em;
        float: left;
        list-style: none;
        cursor: pointer;
    
    
        &._active,
        &._hover {
          background-color: $black;
          color: $white;
        }
      }
    
      .mr {
        margin-right: $pc32;
      }
    }
    
    &_item {
      display: inline-block;
      padding-bottom: $tb12 ;
      
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding-bottom: $tb12 ;
      }
  
      img {
        width: 100%;
        height: 22vw;
        object-fit: cover;
      }
    
      ._container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 700;
        font-size: $tb14;
      }
    
      ._left {
        width: 24.844vw;
        line-height: 1.6em;
        margin-top: $tb14;
        margin-left: $tb14;
        font-size: $tb14;
        
        span {
          margin-top: $tb14;
          font-size: $tb12;
        }
      }
    
      ._right {
        width: 9.063vw;
        color: $dGray;
        border: $tb1 solid $dGray;
        text-align: center;
        font-size: $tb12;
        line-height: 2.4em;
        margin-right: $tb14;
      }
    }
  
    &_item:hover {
      opacity: .8 !important;
      box-shadow: none;
    }


    &_article {
      display: grid;
      padding: $tb64 0;
      grid-template-columns: repeat(2, 1fr);
      gap: 4.219vw 3.906vw;
    }
  }

  // ページネーション
  .pagination {
    width: 100%;
    position: absolute;
    margin-bottom: $tb100;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  
  
    a {
      font-size: $tb16;
      text-align: center;
      line-height: 2em;
      margin: 0 0.42vw;
      display: inline-block;
      background-color: $white;
      position: relative;
      border: $tb1 solid $black;
      color: $dGray;
      transition: .2s;
      padding: 0 1.2vw;
    }
  
    .disabled {
      opacity: 0;
    }
  
    a:hover {
      color: $white;
      background: $yellow;
    }
  
    .active {
      a {
        color: $white;
        background-color: $black;
      }
  
      a:hover {
        cursor: default !important;
        background: $black;
      }
    }
  }
}

// // レスポンシブ
// // スマホサイズ
@include mq(sm) {
  .work {
    box-sizing: border-box;
    padding-left: $sp16 !important;
    padding-right: $sp16 !important;

    &::before {
      top: 50vw ;
    }

    &_content {
      width: 100%;
      height: 598vw;
      padding: 5vw 0 $sp48;
      position: relative;
      clear: both;
      z-index: 1;
    
      ._menu {
        box-sizing: border-box;
        display: block;
        width: 44%;
        border: $sp1 solid $black;
        font-size: $sp16;
        margin: 0 $sp16 $sp10;
        margin-right: 0;
    
    
        &._active,
        &._hover {
          background-color: $black;
          color: $white;
        }
      }
    
      .mr {
        margin-right: 0;
      }
    }

    .tabcontent {
      width: 100%;
      position: absolute;
      top: 45vw;
      left: 0;
    }

    &_article {
      display: grid;
      padding: $sp48 0 $sp32;
      grid-template-columns: repeat(1, 1fr);
      gap: $sp24 0;
    }
    
    &_item {
      display: inline-block;
      padding-bottom: $sp14;
      
      a {
        display: block;
        width: 100%;
        height: 100%;
        padding-bottom: $sp14;
      }
    
      img {
        width: 100%;
        height: 54.722vw;
        object-fit: cover;
      }
    
      ._container {
        font-size: $sp14;
      }
    
      ._left {
        width: 55.556vw;
        margin-top: $sp12;
        margin-left: $sp14;
        font-size: $sp14;
        
        span {
          margin-top: $sp12;
          font-size: $sp12;
        }
      }
    
      ._right {
        width: 23.889vw;
        line-height: $sp30;
        margin-right: $sp12;
      }
    }
  }

  // ページネーション
  .pagination {
    position: absolute;
    margin-bottom: $sp32;
  
  
    a {
      font-size: $sp14;
      text-align: center;
      line-height: 2em;
      margin: 0 $sp3;
      display: inline-block;
      background-color: $white;
      position: relative;
      border: $tb1 solid $black;
      color: $dGray;
      transition: .2s;
      padding: 0 $sp10;
    }
  
    .disabled {
      opacity: 0;
    }
  
    a:hover {
      color: $white;
      background: $yellow;
    }
  
    .active {
      a {
        color: $white;
        background-color: $black;
      }
  
      a:hover {
        cursor: default !important;
        background: $black;
      }
    }
  }
}
