@use "../../../setting"as *;
@use "../../../mixin"as *;

.work {
  position: relative;
  box-sizing: border-box;
  background-color: $white;
  border-bottom: $pc1 solid $dGray;
  padding-left: 5.781vw;
  padding-right: 7.109vw;

  &::before {
    content: "";
    position: absolute;
    top: 13.594vw;
    left: 0;
    width: 100%;
    height: $pc1;
    background-color: $dGray;
  }


  &_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: $pc16 $pc32;
    padding: $pc64 0;
    
    ._item {
      border: $pc1 solid $black;
      text-align: center;
      font-size: $pc16;
      font-weight: 700;
      line-height: 3.594vw;
    }

    ._item.selected {
      background-color: $black;
      color: $white;
    }
  }

  &_article {
    display: grid;
    padding: $pc64 $pc32;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.219vw 3.906vw;
  }

  &_item {
    display: inline-block;
    padding-bottom: $pc14;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
    transition: .2s;
    
    img {
      width: 34.267vw;
      height: 20.469vw;
      object-fit: cover;
    }

    ._container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      font-weight: 700;
      font-size: $pc14;
    }

    ._left {
      width: 19.844vw;
      line-height: 1.8em;
      margin-top: $pc14;
      margin-left: $pc14;

      span {
        font-size: 0.938vw;
      }
    }

    ._right {
      width: 9.063vw;
      color: $dGray;
      border: $pc1 solid $dGray;
      text-align: center;
      line-height: $pc32;
      margin-right: $pc14;
    }
  }

  &_item:hover {
    opacity: .8;
    box-shadow: none;
  }
}

// ページネーション
.pager {
  margin-bottom: $pc100;
  font-size: $pc16;
}

.pager ul.pagination {
  text-align: center;
  margin: 0;
  padding: 0;
}

.pager .pagination li {
  display: inline;
  margin: 0 0.391vw;
  display: inline-block;
  background-color: $white;
  width: 3.125vw;
  height: 3.125vw;
  text-align: center;
  position: relative;
  
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: $pc1 solid $black;
  text-align: center;
  display: table;
  color: $dGray;
  text-decoration: none;
  line-height: 3.125vw;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination .pre,
.pager .pagination  .next{
  padding: 0 $pc24;
}

.pager .pagination li a:hover{
  color: $white;
  background: $yellow;
}
// .pager .pagination li a:hover,
.pager .pagination li a.active {
  color: $white;
  background: $black;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

// レスポンシブ
// タブレットサイズ
@include mq(lg) {
  .work {
    padding-top: $tb20;
    padding-right: 5.781vw;

    &::before {
      content: "";
      position: absolute;
      top: $tb120;
      left: 0;
      width: 100%;
      height: $pc1;
      background-color: $dGray;
    }

    &_container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: $tb9 $tb14;
      padding: $tb20 0;
    
      ._item {
        border: $tb1 solid $black;
        font-size: $tb14;
        line-height: 2.4em;
      }
    }

    &_article {
      display: grid;
      padding: $tb80 $tb16 $tb44;
      grid-template-columns: repeat(2, 1fr);
      gap: $tb36 $tb18;
    }
    
    &_item {
      display: inline-block;
      padding-bottom: $tb12 ;
    
      img {
        width: 40vw;
        height: 22vw;
        object-fit: cover;
      }
    
      ._container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-weight: 700;
        font-size: $pc14;
      }
    
      ._left {
        width: 19.844vw;
        line-height: 1.8em;
        margin-top: $pc14;
        margin-left: $pc14;
    
        span {
          font-size: 0.938vw;
        }
      }
    
      ._right {
        width: 9.063vw;
        color: $dGray;
        border: $pc1 solid $dGray;
        text-align: center;
        line-height: $pc32;
        margin-right: $pc14;
      }
    }
    
    &_item:hover {
      opacity: .8;
      box-shadow: none;
    }
  }

  .pager {
    margin-bottom: $tb100;
    font-size: $tb16;
  }
  
  .pager .pagination li {
    display: inline;
    margin: 0 $tb5;
    display: inline-block;
    background-color: $white;
    width: $tb32;
    height: $tb32;
    text-align: center;
    position: relative;
  
  }
  
  .pager .pagination li a {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: $pc1 solid $black;
    text-align: center;
    display: table;
    color: $dGray;
    text-decoration: none;
    line-height: 2em;
  }
  
  .pager .pagination li a span {
    display: table-cell;
    vertical-align: middle;
  }
  
  .pager .pagination .pre,
  .pager .pagination .next {
    padding: 0 $tb24;
  }
}

// // レスポンシブ
// // スマホサイズ
@include mq(sm) {
  .work {
    box-sizing: border-box;
    padding-top: $sp24;
    padding-left: $sp16 !important;
    padding-right: $sp16 !important;

    &::before {
      top: 61.111vw ;
    }

    &_container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $sp12 $sp16;
      padding: $sp12 0;
    
      ._item {
        border: $sp1 solid $black;
        font-size: $sp16;
        line-height: 12.500vw;
      }
    }

    &_article {
      display: grid;
      padding: $sp48 0;
      grid-template-columns: repeat(1, 1fr);
      gap: $sp48 0;
    }
    
    &_item {
      display: inline-block;
    
      img {
        width: 100%;
        height: 54.722vw;
        object-fit: cover;
      }
    
      ._container {
        font-size: $sp14;
      }
    
      ._left {
        width: 55.556vw;
        margin-top: $sp12;
        margin-left: $sp14;
    
        span {
          font-size: $sp12;
        }
      }
    
      ._right {
        width: 23.889vw;
        line-height: $sp30;
        margin-right: $sp12;
      }
    }
  }

  .pager {
    margin-bottom: $sp48;
    font-size: $sp14;
  }
  
  .pager .pagination li {
    margin: 0 $sp3;
    width: 9.444vw;
    height: 9.444vw;
  
  }
  
  .pager .pagination li a {
    line-height: 9.444vw;
  }
  
  .pager .pagination li a span {
    display: table-cell;
    vertical-align: middle;
  }
  
  .pager .pagination .pre,
  .pager .pagination .next {
    padding: 0 $sp16;
  }
  
  .pager .pagination li a:hover {
    color: $white;
    background: $yellow;
  }
  
  // .pager .pagination li a:hover,
  .pager .pagination li a.active {
    color: $white;
    background: $black;
  }

  // .pager .pagination li {
  //   display: none;
  // }
  
  // .pager .pagination li.pre,
  // .pager .pagination li.next {
  //   display: inline-block;
  //   width: 40%;
  //   height: 50px;
  //   text-align: center;
  // }
  
  // .pager .pagination li.pre a,
  // .pager .pagination li.next a {
  //   width: 100%;
  //   text-align: center;
  // }
  
  // .pager .pagination li.pre span::after {
  //   content: "";
  // }
  
  // .pager .pagination li.next span::before {
  //   content: "";
  // }
}
