.fv {
  position: relative;
  width: 100%;
  height: 39.063vw;
  background-image: url(../../../img/fv_pic5-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.fv_title {
  position: fixed;
  top: 19.531vw;
  left: calc(50% + 4.805vw);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-size: 3.281vw;
  letter-spacing: 0.06em;
  z-index: 1;
}
.fv_title ._heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.fv_title ._sub {
  font-size: 1.25vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  margin-top: 2.5vw;
}

@media screen and (max-width: 1025px) {
  .fv_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 16vw;
    font-size: 4.688vw;
  }
  .fv_title ._heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  .fv_title ._sub {
    font-size: 2.083vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    margin-top: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .fv {
    background: url(../../../img/fv_pic5-min.jpg) no-repeat 15% 50%/cover scroll;
    min-height: 100vh;
    /* Fallback */
  }
  .fv_title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 91.111vw;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }
  .fv_title ._heading {
    font-size: 11.667vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    z-index: 2;
  }
  .fv_title ._sub {
    font-size: 4.444vw;
    margin-top: 2.222vw;
  }
}
.topics {
  position: relative;
  box-sizing: border-box;
  padding-left: 5.781vw;
  padding-right: 7.109vw;
  background-color: #fff;
  border-bottom: 0.0781vw solid #757575;
}
.topics::before {
  content: "";
  position: absolute;
  top: 13.594vw;
  left: 0;
  width: 100%;
  height: 0.0781vw;
  background-color: #757575;
}
.topics_content {
  width: 100%;
  height: 74vw;
  position: relative;
  clear: both;
  z-index: 1;
  padding: 5vw 0;
}
.topics_content ._menu {
  box-sizing: border-box;
  display: block;
  width: 11.016vw;
  border: 0.0781vw solid #000;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 3.594vw;
  float: left;
  list-style: none;
  cursor: pointer;
}
.topics_content ._menu._active, .topics_content ._menu._hover {
  background-color: #000;
  color: #fff;
}
.topics_content .mr {
  margin-right: 5.468vw;
}
.topics .tabcontent {
  width: 100%;
  position: absolute;
  top: 13.594vw;
  left: 0;
}
.topics_article {
  display: grid;
  padding: 5vw 2.5vw;
  grid-template-columns: repeat(3, 1fr);
  gap: 4vw 0.391vw;
}
.topics_item {
  display: inline-block;
  padding-bottom: 0.625vw;
  transition: 0.2s;
}
.topics_item a {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0.625vw;
}
.topics_item img {
  height: 14.941vw;
  object-fit: cover;
}
.topics_item p {
  font-size: 1.094vw;
  line-height: 1.8em;
  margin: 1vw 1.094vw 0;
}
.topics_item ._container {
  margin: 1.406vw 1.094vw 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.094vw;
}
.topics_item ._tag {
  font-size: 0.936vw;
  padding: 0 1.406vw;
  line-height: 2.2em;
  background-color: #000;
  color: #fff;
  border-radius: 1.1em;
}
.topics_item ._date {
  color: #757575;
}
.topics_item:hover {
  opacity: 0.8;
  background-color: #F3F3F3;
}

.pagination {
  width: 100%;
  position: absolute;
  margin-bottom: 7.813vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.pagination a {
  transition: 0.2s;
  font-size: 1.25vw;
  text-align: center;
  line-height: 3.125vw;
  margin: 0 0.391vw;
  display: inline-block;
  background-color: #fff;
  position: relative;
  border: 0.0781vw solid #000;
  color: #757575;
  transition: 0.2s;
  padding: 0 1.115vw;
}
.pagination .disabled {
  opacity: 0;
}
.pagination a:hover {
  color: #fff;
  background: #F1C407;
}
.pagination .active a {
  color: #fff;
  background-color: #000;
}
.pagination .active a:hover {
  cursor: default !important;
  background: #000;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

@media screen and (max-width: 1025px) {
  .topics {
    padding-top: 2.604vw;
    padding-right: 5.781vw;
  }
  .topics::before {
    content: "";
    position: absolute;
    top: 15.625vw;
    left: 0;
    width: 100%;
    height: 0.0781vw;
    background-color: #757575;
  }
  .topics_content {
    width: 100%;
    height: 156vw;
    position: relative;
    clear: both;
    z-index: 1;
    padding: 5vw 0;
  }
  .topics_content ._menu {
    box-sizing: border-box;
    display: block;
    width: 12.65vw;
    border: 0.13vw solid #000;
    text-align: center;
    font-size: 1.823vw;
    font-weight: 700;
    line-height: 2.4em;
    float: left;
    list-style: none;
    cursor: pointer;
  }
  .topics_content ._menu._active, .topics_content ._menu._hover {
    background-color: #000;
    color: #fff;
  }
  .topics_content .mr {
    margin-right: 2.5vw;
  }
  .topics_article {
    padding-bottom: 4.167vw;
  }
  .topics_item {
    display: inline-block;
    padding-bottom: 1.563vw;
  }
  .topics_item img {
    height: 26.417vw;
    object-fit: cover;
  }
  .topics_item p {
    font-size: 1.823vw;
    line-height: 1.8em;
    margin: 1.172vw 1.563vw 0;
  }
  .topics_item ._container {
    margin: 1.823vw 1.172vw 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.823vw;
  }
  .topics_item ._tag {
    font-size: 1.563vw;
    padding: 0 2.604vw;
    line-height: 2.2em;
    background-color: #000;
    color: #fff;
  }
  .topics .pagination {
    width: 100%;
    position: absolute;
    margin-bottom: 13.021vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .topics .pagination a {
    font-size: 2.083vw;
    text-align: center;
    line-height: 2em;
    margin: 0 0.42vw;
    display: inline-block;
    background-color: #fff;
    position: relative;
    border: 0.13vw solid #000;
    color: #757575;
    transition: 0.2s;
    padding: 0 1.2vw;
  }
  .topics .pagination .disabled {
    opacity: 0;
  }
  .topics .pagination a:hover {
    color: #fff;
    background: #F1C407;
  }
  .topics .pagination .active a {
    color: #fff;
    background-color: #000;
  }
  .topics .pagination .active a:hover {
    cursor: default !important;
    background: #000;
  }
  .topics_item:hover {
    opacity: 0.8 !important;
    box-shadow: none;
  }
  .topics_article {
    display: grid;
    padding: 8.333vw 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.219vw 3.906vw;
  }

  .pagination {
    width: 100%;
    position: absolute;
    margin-bottom: 13.021vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .pagination a {
    font-size: 2.083vw;
    text-align: center;
    line-height: 2em;
    margin: 0 0.42vw;
    display: inline-block;
    background-color: #fff;
    position: relative;
    border: 0.13vw solid #000;
    color: #757575;
    transition: 0.2s;
    padding: 0 1.2vw;
  }
  .pagination .disabled {
    opacity: 0;
  }
  .pagination a:hover {
    color: #fff;
    background: #F1C407;
  }
  .pagination .active a {
    color: #fff;
    background-color: #000;
  }
  .pagination .active a:hover {
    cursor: default !important;
    background: #000;
  }
}
@media screen and (max-width: 767px) {
  .topics {
    box-sizing: border-box;
    padding-top: 6.667vw;
    padding-left: 4.444vw !important;
    padding-right: 4.444vw !important;
  }
  .topics::before {
    top: 61.111vw;
  }
  .topics_content {
    width: 100%;
    height: 620vw;
    padding: 5vw 0 13.333vw;
    position: relative;
    clear: both;
    z-index: 1;
  }
  .topics_content ._menu {
    box-sizing: border-box;
    display: block;
    width: 44%;
    border: 0.278vw solid #000;
    font-size: 4.444vw;
    margin: 0 4.444vw 2.778vw;
    margin-right: 0;
  }
  .topics_content ._menu._active, .topics_content ._menu._hover {
    background-color: #000;
    color: #fff;
  }
  .topics_content .mr {
    margin-right: 0;
  }
  .topics .tabcontent {
    width: 100%;
    position: absolute;
    top: 45vw;
    left: 0;
  }
  .topics_article {
    display: grid;
    padding: 13.333vw 0 8.889vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 6.667vw 0;
  }
  .topics_item {
    display: inline-block;
    padding-bottom: 3.889vw;
  }
  .topics_item a {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 3.889vw;
  }
  .topics_item img {
    width: 100%;
    height: 56.948vw;
    object-fit: cover;
  }
  .topics_item p {
    width: auto;
    font-size: 3.889vw;
    margin: 3.333vw 3.889vw 0;
  }
  .topics_item ._tag {
    font-size: 3.333vw;
    padding: 0 5vw;
  }
  .topics_item ._container {
    margin-top: 2.778vw;
    font-size: 3.889vw;
  }
  .topics .pagination {
    position: absolute;
    margin-bottom: 8.889vw;
  }
  .topics .pagination a {
    font-size: 3.889vw;
    text-align: center;
    line-height: 2em;
    margin: 0 0.833vw;
    display: inline-block;
    background-color: #fff;
    position: relative;
    border: 0.13vw solid #000;
    color: #757575;
    transition: 0.2s;
    padding: 0 2.778vw;
  }
  .topics .pagination .disabled {
    opacity: 0;
  }
  .topics .pagination a:hover {
    color: #fff;
    background: #F1C407;
  }
  .topics .pagination .active a {
    color: #fff;
    background-color: #000;
  }
  .topics .pagination .active a:hover {
    cursor: default !important;
    background: #000;
  }
}
