@use "../../../setting"as *;
@use "../../../mixin"as *;

.faq {
  position: relative;
  padding-top: 9.375vw;
  padding-left: 10.78vw;
  padding-bottom: $pc122;
  background-color: $white;

  &_heading {
    @include section_title;
  }
  
  &_subheading {
    @include section_subtitle;
  }

  &_wrapper {
    margin-top: 6.25vw;
  }

  &_item {
    margin-top: $pc64;
  }

  &_item:nth-child(1) {
    margin-top: 0 !important;
  }

  &_title {
    display: flex;
    align-items: center;
  }

  &_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.977vw 0 0.977vw 1.406vw;
    border-color: transparent transparent transparent $black;
    margin-right: 1.094vw;
  }

  &_question {
    font-size: 1.406vw; //18px相当
    font-weight: 500;
  }

  &_answer {
    width: 64.219vw;
    margin-top: $pc32;
    border: 0.078vw solid $black;
    padding: 3.281vw;
    line-height: $pc32;
    font-size: $pc14;
  }

  &_btnarea {
    text-align: right
  }

  &_btn {
    @include morebtn_black;
    width: 22.422vw;
    line-height: 4.688vw;
    font-family: "游ゴシック体", "メイリオ", sans-serif;
    margin-top: $pc32;
  }

  &_btn:hover {
    @include morebtn_black-hover;
  }
}

@include mq(lg) {
  .faq {

    &_heading {
      margin-top: 4.063vw;
      padding-right: 1.719vw;
      @include section_title_tab;
    }

    &_subheading {
      @include section_subtitle_tab;
    }

    &_wrapper {
      margin-top: $tb64;
    }

    &_item {
      margin-top: $tb64;
    }

    &_tri {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 1.749vw 0 1.749vw $tb18;
      border-color: transparent transparent transparent $black;
      margin-right: 1.094vw;
    }
    
    &_question {
      font-size: $tb18;
      font-weight: 500;
    }
    
    &_answer {
      width: 80%;
      margin-top: $tb24;
      border: 0.078vw solid $black;
      padding: 3.281vw;
      line-height: 1.8em;
      font-size: $tb14;
    }

    &_btn {
      margin-top: $tb30;
      font-size: $tb14;
      width: 27vw;
      line-height: 3em;
    }
  }
}

// レスポンシブ
// スマホサイズ
@include mq(sm) {
  .faq {
    padding-top: $sp48;
    padding-left: $sp16 !important;
    padding-right: $sp16 !important;

    &_heading {
      margin-top: $sp12;
      padding-right: $sp5;
      @include section_title_tab;
      font-size: $sp28
    }

    &_subheading {
      @include section_subtitle_tab;
      margin-top: $sp10;
      font-size: $sp14;
    }

    &_wrapper {
    position: relative;
    margin-top: $sp24;
    width: 100%;
  }

  &_item {
    margin-top: $sp48;
  }


  &_tri {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1.944 0 1.944vw $sp14;
    border-color: transparent transparent transparent $black;
    margin-right: $sp5;
  }

  &_question {
    font-size: $sp14;
    line-height: 1.6em;
  }

  &_answer {
    box-sizing: border-box;
    width: 100%;
    margin-top: $sp24;
    border: $sp1 solid $black;
    padding: $sp18 $sp14;
    font-size: 3.056vw;
    line-height: 1.6em;
  }

  &_btn {
    font-size: $sp14;
    width: 50vw;
    line-height: 2.8em;
    margin-top: $sp40;
    margin-bottom: $sp5;
    
    a {
      height: 2.8em;
    }
  }
  }
}