// FV
@use "../../../setting" as *;
@use "../../../mixin" as *;

.fv {
  position: relative;
  width: 100vw;
  height: 56.25vw;
  background-image: url(../../../img/fv_pic1.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  z-index: -1;
  
  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 56.25vw;
    background-color: $black;
    opacity: .2;
    z-index: 1;
  }

  &_movie {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 56.25vw;
    z-index: 0;
  }

  &_container {
    position: fixed;
    top: 28.25vw;
    left: calc(50% + 4.805vw);
    width: 70vw;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }

  &_heading {
    @include white_bold;
    font-family: $lato;
    font-size: 5.625vw;
    line-height: 150%;
    letter-spacing: .04em;
    z-index: 2;
  }

  // SP時のみ出てくるスクロールダウン
  .scrolldown_fv {
    visibility: hidden;
  }


  // 文字が１文字ずつ現れるようにする
  &_heading span {
    opacity: 0;
  }

  &_heading.appeartext span {
    animation:text_anime_on .4s ease-out forwards;
  }

  @keyframes text_anime_on {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
}

// レスポンシブ
// スマホサイズ
@include mq(sm) {
  .fv {
    min-height: 100vh;
    /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);

    &::after {
      height: 100vh;
    }
    
    &_movie {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: 0;
    }

    &_container {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 91.111vw;
      transform: translateY(-50%) translateX(-50%);
      z-index: 2;
    }
    
    &_heading {
      font-size: 8.056vw;
      line-height: 150%;
      letter-spacing: .04em;
      z-index: 2;
    }
    
    // スクロールダウン
    .scrolldown_fv {
      visibility: visible;
      @include ab_center_rl;
      position: fixed;
      transition: .6s all;
      bottom: 0;
      width: $sp18;
      height: 33.333vw;
      overflow: hidden;
      z-index: 2;
      
      span {
        display: inline-block;
        position: absolute;
        right: 0;
        font-size: $sp14;
        font-family: $lato;
        writing-mode: vertical-rl;
        color: $white;
        opacity: 0;
        animation: appear 1s ease-in-out forwards;
        animation-delay: 4.8s;
      }
      
      span:nth-of-type(2) {
        content: "";
        position: absolute;
        top: 0;
        right: 95%;
        width: $sp2;
        background-color: $white;
        height: 33.333vw;
        animation: pathmove 1.8s ease-in-out infinite;
        animation-delay: 4.8s;
        opacity: 0;
      }
    }
  }
  // SCROLLが現れるアニメーション
  @keyframes appear {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  // スクロールダウンのアニメーション
  @keyframes pathmove {
    0% {
      height: 0;
      top: -20%;
      opacity: 0;
    }
  
    50% {
      height: 100%;
      opacity: 1;
    }
  
    100% {
      height: 0;
      top: 33.333vw;
      opacity: 0;
    }
  }
}