.fv {
  position: relative;
  width: 100%;
  height: 39.063vw;
  background-image: url(../../../img/fv_pic4-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 58%;
  background-size: cover;
  z-index: -1;
}
.fv_title {
  position: fixed;
  top: 19.531vw;
  left: calc(50% + 4.805vw);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-size: 3.281vw;
  letter-spacing: 0.06em;
  z-index: 1;
}
.fv_title ._heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.fv_title ._sub {
  font-size: 1.25vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  margin-top: 2.5vw;
}

@media screen and (max-width: 1025px) {
  .fv_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 16vw;
    font-size: 4.688vw;
  }
  .fv_title ._heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  .fv_title ._sub {
    font-size: 2.083vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    margin-top: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .fv {
    background: url(../../../img/fv_pic4-min.jpg) no-repeat center/cover scroll;
    min-height: 100vh;
    /* Fallback */
  }
  .fv_title {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 91.111vw;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }
  .fv_title ._heading {
    font-size: 11.667vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    z-index: 2;
  }
  .fv_title ._sub {
    font-size: 4.444vw;
    margin-top: 2.222vw;
  }
}
.work {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 0.0781vw solid #757575;
  padding-left: 5.781vw;
  padding-right: 7.109vw;
}
.work::before {
  content: "";
  position: absolute;
  top: 13.594vw;
  left: 0;
  width: 100%;
  height: 0.0781vw;
  background-color: #757575;
  z-index: 100;
}
.work_content {
  background-color: #fff;
  width: 100%;
  height: 118.875vw;
  position: relative;
  clear: both;
  z-index: 1;
  padding: 5vw 0;
}
.work_content ._menu {
  box-sizing: border-box;
  display: block;
  width: 10.82vw;
  border: 0.0781vw solid #000;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 3.594vw;
  float: left;
  list-style: none;
  cursor: pointer;
}
.work_content ._menu._active, .work_content ._menu._hover {
  background-color: #000;
  color: #fff;
}
.work_content .mr {
  margin-right: 2.5vw;
}
.work .tabcontent {
  width: 100%;
  position: absolute;
  top: 13.594vw;
  left: 0;
}
.work_article {
  display: grid;
  padding: 5vw 2.5vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.219vw 3.906vw;
}
.work_item {
  display: inline-block;
  padding-bottom: 1.094vw;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
}
.work_item a {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 1.094vw;
}
.work_item img {
  width: 34.267vw;
  height: 21.417vw;
  object-fit: cover;
}
.work_item .article_title {
  margin-top: 1.406vw;
  margin-right: 1.094vw;
  margin-left: 1.094vw;
  margin-bottom: 0.781vw;
  font-size: 0.938vw;
}
.work_item ._container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.094vw;
}
.work_item ._left {
  width: 20.5vw;
  line-height: 1.8em;
  margin-left: 1.094vw;
  font-size: 1.094vw;
}
.work_item ._right {
  width: 9.063vw;
  color: #757575;
  border: 0.0781vw solid #757575;
  text-align: center;
  line-height: 2.5vw;
  margin-right: 1.094vw;
}
.work_item:hover {
  opacity: 0.8 !important;
  box-shadow: none;
}

.pagination {
  width: 100%;
  position: absolute;
  margin-bottom: 7.813vw;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.pagination a {
  transition: 0.2s;
  font-size: 1.25vw;
  text-align: center;
  line-height: 3.125vw;
  margin: 0 0.391vw;
  display: inline-block;
  background-color: #fff;
  position: relative;
  border: 0.0781vw solid #000;
  color: #757575;
  transition: 0.2s;
  padding: 0 1.115vw;
}
.pagination .disabled {
  opacity: 0;
}
.pagination a:hover {
  color: #fff;
  background: #F1C407;
}
.pagination .active a {
  color: #fff;
  background-color: #000;
}
.pagination .active a:hover {
  cursor: default !important;
  background: #000;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

@media screen and (max-width: 1025px) {
  .work {
    padding-right: 5.781vw;
  }
  .work::before {
    content: "";
    position: absolute;
    top: 15.625vw;
    left: 0;
    width: 100%;
    height: 0.0781vw;
    background-color: #757575;
  }
  .work_content {
    width: 100%;
    height: 146vw;
    position: relative;
    clear: both;
    z-index: 1;
    padding: 5vw 0;
  }
  .work_content ._menu {
    box-sizing: border-box;
    display: block;
    width: 12.65vw;
    border: 0.13vw solid #000;
    text-align: center;
    font-size: 1.823vw;
    font-weight: 700;
    line-height: 2.4em;
    float: left;
    list-style: none;
    cursor: pointer;
  }
  .work_content ._menu._active, .work_content ._menu._hover {
    background-color: #000;
    color: #fff;
  }
  .work_content .mr {
    margin-right: 2.5vw;
  }
  .work_item {
    display: inline-block;
    padding-bottom: 1.563vw;
  }
  .work_item a {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 1.563vw;
  }
  .work_item img {
    width: 100%;
    height: 26.416vw;
    object-fit: cover;
  }
  .work_item .article_title {
    margin-top: 1.823vw;
    margin-right: 1.823vw;
    margin-left: 1.823vw;
    margin-bottom: 1.563vw;
    font-size: 1.563vw;
  }
  .work_item ._container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.823vw;
  }
  .work_item ._left {
    width: 26.5vw;
    line-height: 1.6em;
    margin-top: 0;
    margin-left: 1.823vw;
    font-size: 1.823vw;
  }
  .work_item ._right {
    width: 9.063vw;
    color: #757575;
    border: 0.13vw solid #757575;
    text-align: center;
    font-size: 1.563vw;
    line-height: 2.4em;
    margin-right: 1.823vw;
  }
  .work_item:hover {
    opacity: 0.8 !important;
    box-shadow: none;
  }
  .work_article {
    display: grid;
    padding: 8.333vw 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.219vw 3.906vw;
  }

  .pagination {
    width: 100%;
    position: absolute;
    margin-bottom: 13.021vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
  .pagination a {
    font-size: 2.083vw;
    text-align: center;
    line-height: 2em;
    margin: 0 0.42vw;
    display: inline-block;
    background-color: #fff;
    position: relative;
    border: 0.13vw solid #000;
    color: #757575;
    transition: 0.2s;
    padding: 0 1.2vw;
  }
  .pagination .disabled {
    opacity: 0;
  }
  .pagination a:hover {
    color: #fff;
    background: #F1C407;
  }
  .pagination .active a {
    color: #fff;
    background-color: #000;
  }
  .pagination .active a:hover {
    cursor: default !important;
    background: #000;
  }
}
@media screen and (max-width: 767px) {
  .work {
    box-sizing: border-box;
    padding-left: 4.444vw !important;
    padding-right: 4.444vw !important;
  }
  .work::before {
    top: 50vw;
  }
  .work_content {
    width: 100%;
    height: 598vw;
    padding: 5vw 0 13.333vw;
    position: relative;
    clear: both;
    z-index: 1;
  }
  .work_content ._menu {
    box-sizing: border-box;
    display: block;
    width: 44%;
    border: 0.278vw solid #000;
    font-size: 4.444vw;
    margin: 0 4.444vw 2.778vw;
    margin-right: 0;
  }
  .work_content ._menu._active, .work_content ._menu._hover {
    background-color: #000;
    color: #fff;
  }
  .work_content .mr {
    margin-right: 0;
  }
  .work .tabcontent {
    width: 100%;
    position: absolute;
    top: 45vw;
    left: 0;
  }
  .work_article {
    display: grid;
    padding: 13.333vw 0 8.889vw;
    grid-template-columns: repeat(1, 1fr);
    gap: 6.667vw 0;
  }
  .work_item {
    display: inline-block;
    padding-bottom: 3.889vw;
  }
  .work_item a {
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 3.889vw;
  }
  .work_item img {
    width: 100%;
    height: 56.947vw;
    object-fit: cover;
  }
  .work_item .article_title {
    font-size: 3.333vw;
    margin-top: 3.333vw;
    margin-right: 2.778vw;
    margin-left: 2.778vw;
    margin-bottom: 3.333vw;
  }
  .work_item ._container {
    font-size: 3.889vw;
  }
  .work_item ._left {
    width: 56vw;
    margin-left: 2.778vw;
    font-size: 3.889vw;
  }
  .work_item ._right {
    width: 23.889vw;
    font-size: 3.333vw;
    line-height: 8.333vw;
    margin-right: 3.333vw;
  }

  .pagination {
    position: absolute;
    margin-bottom: 8.889vw;
  }
  .pagination a {
    font-size: 3.889vw;
    text-align: center;
    line-height: 2em;
    margin: 0 0.833vw;
    display: inline-block;
    background-color: #fff;
    position: relative;
    border: 0.13vw solid #000;
    color: #757575;
    transition: 0.2s;
    padding: 0 2.778vw;
  }
  .pagination .disabled {
    opacity: 0;
  }
  .pagination a:hover {
    color: #fff;
    background: #F1C407;
  }
  .pagination .active a {
    color: #fff;
    background-color: #000;
  }
  .pagination .active a:hover {
    cursor: default !important;
    background: #000;
  }
}
