.fv {
  position: relative;
  width: 100%;
  height: 39.063vw;
  background-image: url(../../../img/fv_pic4-min.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 58%;
  background-size: cover;
  z-index: -1;
}
.fv_title {
  position: fixed;
  top: 19.531vw;
  left: calc(50% + 4.805vw);
  transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  font-family: "Lato", sans-serif;
  font-size: 3.281vw;
  letter-spacing: 0.06em;
  z-index: 1;
}
.fv_title ._heading {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
}
.fv_title ._sub {
  font-size: 1.25vw;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  margin-top: 2.5vw;
}

@media screen and (max-width: 1025px) {
  .fv_title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    top: 16vw;
    font-size: 4.688vw;
  }
  .fv_title ._heading {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
  }
  .fv_title ._sub {
    font-size: 2.083vw;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    margin-top: 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .fv {
    background-size: cover;
    min-height: 100vh;
    /* Fallback */
    min-height: calc(var(--vh, 1vh) * 100);
  }
  .fv_title {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 91.111vw;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
  }
  .fv_title ._heading {
    font-size: 11.667vw;
    line-height: 150%;
    letter-spacing: 0.04em;
    z-index: 2;
  }
  .fv_title ._sub {
    font-size: 4.444vw;
    margin-top: 2.222vw;
  }
}
.work {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 0.0781vw solid #757575;
  padding-left: 5.781vw;
  padding-right: 7.109vw;
}
.work::before {
  content: "";
  position: absolute;
  top: 13.594vw;
  left: 0;
  width: 100%;
  height: 0.0781vw;
  background-color: #757575;
}
.work_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.25vw 2.5vw;
  padding: 5vw 0;
}
.work_container ._item {
  border: 0.0781vw solid #000;
  text-align: center;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 3.594vw;
}
.work_container ._item.selected {
  background-color: #000;
  color: #fff;
}
.work_article {
  display: grid;
  padding: 5vw 2.5vw;
  grid-template-columns: repeat(2, 1fr);
  gap: 4.219vw 3.906vw;
}
.work_item {
  display: inline-block;
  padding-bottom: 1.094vw;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
}
.work_item img {
  width: 34.267vw;
  height: 20.469vw;
  object-fit: cover;
}
.work_item ._container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: 700;
  font-size: 1.094vw;
}
.work_item ._left {
  width: 19.844vw;
  line-height: 1.8em;
  margin-top: 1.094vw;
  margin-left: 1.094vw;
}
.work_item ._left span {
  font-size: 0.938vw;
}
.work_item ._right {
  width: 9.063vw;
  color: #757575;
  border: 0.0781vw solid #757575;
  text-align: center;
  line-height: 2.5vw;
  margin-right: 1.094vw;
}
.work_item:hover {
  opacity: 0.8;
  box-shadow: none;
}

.pager {
  margin-bottom: 7.813vw;
  font-size: 1.25vw;
}

.pager ul.pagination {
  text-align: center;
  margin: 0;
  padding: 0;
}

.pager .pagination li {
  display: inline;
  margin: 0 0.391vw;
  display: inline-block;
  background-color: #fff;
  width: 3.125vw;
  height: 3.125vw;
  text-align: center;
  position: relative;
}

.pager .pagination li a {
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0.0781vw solid #000;
  text-align: center;
  display: table;
  color: #757575;
  text-decoration: none;
  line-height: 3.125vw;
}

.pager .pagination li a span {
  display: table-cell;
  vertical-align: middle;
}

.pager .pagination .pre,
.pager .pagination .next {
  padding: 0 1.875vw;
}

.pager .pagination li a:hover {
  color: #fff;
  background: #F1C407;
}

.pager .pagination li a.active {
  color: #fff;
  background: #000;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

@media screen and (max-width: 1025px) {
  .work {
    padding-top: 2.604vw;
    padding-right: 5.781vw;
  }
  .work::before {
    content: "";
    position: absolute;
    top: 15.625vw;
    left: 0;
    width: 100%;
    height: 0.0781vw;
    background-color: #757575;
  }
  .work_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.172vw 1.823vw;
    padding: 2.604vw 0;
  }
  .work_container ._item {
    border: 0.13vw solid #000;
    font-size: 1.823vw;
    line-height: 2.4em;
  }
  .work_article {
    display: grid;
    padding: 10.417vw 2.083vw 5.729vw;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.688vw 2.344vw;
  }
  .work_item {
    display: inline-block;
    padding-bottom: 1.563vw;
  }
  .work_item img {
    width: 40vw;
    height: 22vw;
    object-fit: cover;
  }
  .work_item ._container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    font-size: 1.094vw;
  }
  .work_item ._left {
    width: 19.844vw;
    line-height: 1.8em;
    margin-top: 1.094vw;
    margin-left: 1.094vw;
  }
  .work_item ._left span {
    font-size: 0.938vw;
  }
  .work_item ._right {
    width: 9.063vw;
    color: #757575;
    border: 0.0781vw solid #757575;
    text-align: center;
    line-height: 2.5vw;
    margin-right: 1.094vw;
  }
  .work_item:hover {
    opacity: 0.8;
    box-shadow: none;
  }

  .pager {
    margin-bottom: 13.021vw;
    font-size: 2.083vw;
  }

  .pager .pagination li {
    display: inline;
    margin: 0 0.651vw;
    display: inline-block;
    background-color: #fff;
    width: 4.167vw;
    height: 4.167vw;
    text-align: center;
    position: relative;
  }

  .pager .pagination li a {
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.0781vw solid #000;
    text-align: center;
    display: table;
    color: #757575;
    text-decoration: none;
    line-height: 2em;
  }

  .pager .pagination li a span {
    display: table-cell;
    vertical-align: middle;
  }

  .pager .pagination .pre,
.pager .pagination .next {
    padding: 0 3.125vw;
  }
}
@media screen and (max-width: 767px) {
  .work {
    box-sizing: border-box;
    padding-top: 6.667vw;
    padding-left: 4.444vw !important;
    padding-right: 4.444vw !important;
  }
  .work::before {
    top: 61.111vw;
  }
  .work_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.333vw 4.444vw;
    padding: 3.333vw 0;
  }
  .work_container ._item {
    border: 0.278vw solid #000;
    font-size: 4.444vw;
    line-height: 12.5vw;
  }
  .work_article {
    display: grid;
    padding: 13.333vw 0;
    grid-template-columns: repeat(1, 1fr);
    gap: 13.333vw 0;
  }
  .work_item {
    display: inline-block;
  }
  .work_item img {
    width: 100%;
    height: 54.722vw;
    object-fit: cover;
  }
  .work_item ._container {
    font-size: 3.889vw;
  }
  .work_item ._left {
    width: 55.556vw;
    margin-top: 3.333vw;
    margin-left: 3.889vw;
  }
  .work_item ._left span {
    font-size: 3.333vw;
  }
  .work_item ._right {
    width: 23.889vw;
    line-height: 8.333vw;
    margin-right: 3.333vw;
  }

  .pager {
    margin-bottom: 13.333vw;
    font-size: 3.889vw;
  }

  .pager .pagination li {
    margin: 0 0.556vw;
    width: 9.444vw;
    height: 9.444vw;
  }

  .pager .pagination li a {
    line-height: 9.444vw;
  }

  .pager .pagination li a span {
    display: table-cell;
    vertical-align: middle;
  }

  .pager .pagination .pre,
.pager .pagination .next {
    padding: 0 4.444vw;
  }

  .pager .pagination li a:hover {
    color: #fff;
    background: #F1C407;
  }

  .pager .pagination li a.active {
    color: #fff;
    background: #000;
  }
}
